<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

{% block header %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
{% endblock header %}


{% block content %}
<div class="container">
  <a href="{% url 'list' %}" class="btn btn-primary">return to list</a>
  <div class="card">
    <h5 class="card-header">{{ object.title }}</h5>
    <span class="card-date">{{ object.post_date }}</span>
    <div class="card-body">
      <p><img src="{{object.images.url}}" width="300"></p>
      <h5 class="card-title">reviewer: {{ object.author }}</h5>
      <h5 class="card-title">comment: {{ object.content }}</h5>
      <h5 class="card-title">evaluation: {{ object.evaluation }}</h5>
      <h5 class="card-title">{{ object.useful_review}} liked this post.</h5>
      <a href="{% url 'likebtn' object.pk %}" class="btn btn-primary">like</a>
    </div>
  </div>
</div>
{% endblock content %}